/* This id sudo code */
body {
  /* nav bar */
  background-color: #434343;
  /* bk in cards */
  background-color: #c9c6f3;
  /* highlight text */
  color: #ada7f0;

  /* primary button bk color */
  background-color: #c9c6f3;
  color: #421554;
  color: #ccc;

  /* secondary button color: */
  background-color: #421554;
  color: white;
  color: #5a4d8d;

  /* ternary button color */
  background-color: white;
  color: #421554;
}
